@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cyan-stem: #0dcaf0;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body > div:first-child canvas {
  width: 100% !important;
  height: 100% !important;
}

h1, h2, h3, h4, h5, h6, p {
  color: #f0f0f0;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

section {
  position: relative;
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #06b6d4, 0 0 20px #06b6d4;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #06b6d4, 0 0 40px #06b6d4;
  }
}

.animate-neon-glow {
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}
